@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --font-poppins: "Poppins", sans-serif;
    --color-black: oklch(0.3048 0.0077 264.45);
    --color-white: oklch(0.9844 0.0059 59.65);
    --color-beige: oklch(0.9294 0.0362 37.35);
    --color-beige-dark: oklch(0.7997 0.0472 37.35);
    --color-green: oklch(0.7582 0.1817 150.95);
    --color-light-green: oklch(0.8947 0.1073 150.95);
    --color-gray: oklch(0.3694 0.0077 264.45);
    --color-light-gray: oklch(0.9125 0.0077 264.45);
}
