@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-dark-bg: #1E2021;
  --color-lighten-dark-bg: #333738;
  --color-dark-clay: #DE9D7E;
  --color-light-bg: #F5F5F5;
  --color-lighten-dark-clay: #c26032;
  --font-display: "Inter", sans-serif;
}
